.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  background-color: #f99000;
}

.title {
  padding: 8px;
  color: black;
}

.header-menu {
  display: flex;
}

.header-menu h4 {
  padding: 8px;
  color: black;
}

.header-menu a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
}

.content-sobre {
  margin-top: 40px;
  width: 90%;
  padding: 20px;
  height: auto;
}
