.header {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  height: 50px;
  background-color: #f99000;
}

.image {
  height: 62px;
  width: auto;
  padding-left: 8px;
  text-align: center;
}

.header-menu {
  display: flex;
  align-content: center;
}

.header-menu h5 {
  padding: 8px;
  color: black;
}

.header-menu a {
  text-decoration: none;
  color: black;
}

.content{
  display: flex;
  flex-direction: column;
  background: url('img/background.jpg') center center/cover;
  background: color rgba(92, 77, 66, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.content-sobre {
  margin-top: 500px;
  width: 90%;
  padding: 20px;
  height: auto;
}



/*padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
   100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;*/
  